nav.component.html
<nav class="nav-section">
  <div class="search-container">
    <!-- <div class="search-field">
      <input type="text" placeholder="Search Field 1" />
      <div class="dropdown-icon">
        <img src="assets/dropdown-icon.png" alt="Dropdown Icon" />
      </div>
    </div>
    <div class="search-field">
      <div>
      <input type="text" placeholder="Search Field 2" />
    </div>
      <div class="dropdown-icon">
        <img src="assets/dropdown-icon.png" alt="" />
      </div>
    </div> -->

    <!-- <div class="search-container">
      <input type="text" placeholder="Search..." class="search-input" />
      <mat-icon class="dropdown-icon">arrow_drop_down</mat-icon>
    </div>
     -->
    <!-- <div class="search-container">
      <input type="text" placeholder="Search...">
      <button class="dropdown-button">
        <img src="assets/img/arrow.png" alt="">
      </button>
    </div> -->
    
    <!-- <mat-form-field appearance="fill">
      <mat-label>Select an option</mat-label>
      <mat-select>
        <mat-select-trigger>
          <mat-icon>arrow_drop_down</mat-icon>
        </mat-select-trigger>
        <mat-option>
          <mat-icon>search</mat-icon>
          <input matInput placeholder="Search" [(ngModel)]="searchTerm" />
        </mat-option>
        <mat-option *ngFor="let option of options | filter:searchTerm" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    
    <!-- <div class="account-details">
      <span class="account-name">Username</span>
      +<span class="account-email"></span>

    </div> -->
    
  </div>

  <!-- <div class="account-info">
    <div class="profile-image-container">
      <img src="path-to-your-image.jpg" alt="Account Image" class="profile-image" />
    </div>
    
    
  </div> -->
</nav>
