<!-- main.component.html -->
<!-- <aside>
     Child component for the dashboard -->
  <!-- <app-dashboard></app-dashboard> -->
  <!-- </aside> -->
  
  <nav>
     <app-dropdown></app-dropdown> 
    <!-- Child component for the navigation bar -->
    <!-- <app-navbar></app-navbar> -->
  </nav>
  
  <main>
    <!-- Main content area -->
    <section>
      <app-detail></app-detail>
      <!-- Content goes here -->
      <!-- <p>This is the main content area.</p> -->

    </section>
  
  
    <!-- <section class="bottom-section">
       Another section attached to the bottom -->
      <!-- <app-bottom-section></app-bottom-section> -->
    <!-- </section>  -->
  </main>

