 <div class="new-tile-container">
    <h1>User Details</h1>
    <p><strong>Name:</strong> {{ name }}</p>
    <p><strong>Order Packed:</strong> {{ orderPacked }}</p>
    <p><strong>Units Packed:</strong> {{ unitsPacked }}</p>
  </div>
   

 <!-- <div class="new-tile-container" *ngIf="data">
        <h2>{{ data.name | titlecase }}</h2>
        <p><strong>Order Packed: </strong>{{ data.orderPacked }}</p>
        <p><strong>Units Packed: </strong>{{ data.unitsPacked }}</p>
      </div>
      <div *ngIf="!data">
        <p>No data available. </p>
 </div>
       -->