.new-tile-container {

    margin: 20px;
    padding: 20px;
    border: 1px solid #bd904c;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color:pink;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .new-tile-container h1 {
    color: #221d13;
    margin-bottom: 20px;
  }
  
  .new-tile-container p {
    font-size: 18px;
    color: #221d1d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  